# Allow requests to localhost and private networks (true/false, default: false)
ALLOW_LOCAL_REQUESTS=false

# Demo Mode: restrict requests to https://echo.free.beeceptor.com unless unlocked with PASS (true/false, default: false)
DEMO=false
PASS=your_demo_password

# Optional: Provide a URL to your custom Privacy Policy page to display a link in the UI
PRIVACY_URL=
