# Allow requests to localhost and private networks (true/false, default: false)
ALLOW_LOCAL_REQUESTS=false

# Optional: Provide a URL to your custom Privacy Policy page to display a link in the UI
PRIVACY_URL=
